<div class="show-main">
  <div class="show-contents">

    <div class="show-question">
      <div class="show-question__title">
        <%=@question.title %>
      </div>
      <div class="show-question-bottom">
        <div class="show-question__content">
          <%=@question.content %>
        </div>
        <div class="show-question__name">
          <%=@question.name %>
        </div>
      </div>
    </div>

    <div class="show-answer-form">
      <%= form_with(model: [@question, @answer], local: true) do |form| %>
        <div class="show-answer-form__heading">
          回答する
        </div>
        <div class="show-answer-form__bottom">
          <div class="show-answer-form__content">
            <%= form.text_area :content, placeholder: "回答内容" %>
          </div>
          <div class="show-answer-form__name">
            <%= form.text_area :name, placeholder: "投稿者名" %>
          </div>
          <div class="show-answer-form__submit">
            <%= form.submit "回答する" %>
          </div>
        </div>

      <% end %>
    </div>

    <div class="show-answers">
      <div class="answers-heading">
        いままでの回答
      </div>
      <% @answers.each do |answer| %>
        <div class="answer-content">
          <div class="answer-content__text">
            <%= answer.content %>
          </div>
          <div class="answer-content__name">
            <%= answer.name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>